@import "tailwindcss";

@theme {
  --color-website-color-black: #212a31;
  --color-website-color-darkGray: #2e3944;
  --color-website-color-lightGray: #d3d9d4;
  --color-website-color-green: #124e66;
  --color-website-color-lightGreen: #748d92;
}


/* Hide scrollbars */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}